/* Group
* @since ProLooks 3
--------------------------------------------- */

.is-style-group-hover-shadow {
  transition: box-shadow 0.2s ease-in-out;
  &:hover {
    box-shadow: var(--wp--preset--shadow--medium);
  }
}

.is-style-group-list > div {
  display: list-item;
  margin-left: 1.3rem !important;
  list-style-type: disc;
}
