///
/// Paragraph
///

/**
* Bug fixes
*
============================================================== */

/** @link  https://github.com/WordPress/gutenberg/issues/55190 */
p{
	text-wrap: pretty;
}


/* Block Style: Indicator
============================================================== */
p.is-style-prolooks-indicator {
	padding-inline-start: var(--wp--preset--spacing--medium);
	text-indent: -2px; /* adjust the space of the border */
	&::before {
		position: relative;
		content: "";
		border: 1px solid var(--wp--preset--color--brand-3);
		right: var(--wp--preset--spacing--medium);
	}

	/* Section Styles
	-------------------------------------------------------------- */

	/* [Brand-3] */
	.is-style-section-brand-3 & {
		&::before {
			border: 1px solid var(--wp--preset--color--brand-7);
		}
	}
}


/**
 * Block Style: Overline
 */

 p.is-style-prolooks-overline {
	text-transform: uppercase;
	letter-spacing: clamp(0.063rem, 0.156vw + 0rem, 0.125rem);
	font-size: clamp(0.75rem, 0.313vw + 0.625rem, 0.875rem);
 }
