
///
/// Paragraph
///

.wp-block-query-pagination-numbers .page-numbers {
	border: 1px solid red;
	padding: var(--wp--preset--spacing--small)  var(--wp--preset--spacing--medium);
	border: 1px solid var(--wp--preset--color--base-4);
	border-radius: 3px;
	text-decoration: none;
}
