/* List
* @since ProLooks 3
--------------------------------------------- */
/**
* Default
*/

/**
 * Variations
 */
ul.is-style-list-checkmark,
ol.is-style-list-checkmark {
  list-style-type: "\2713";
  padding-inline-start: 3ch;
  & li {
    padding-inline-start: 1ch;
  }
}

ul.is-style-list-crossmark,
ol.is-style-list-crossmark {
  list-style-type: "\2717";
  padding-inline-start: 3ch;
  & li {
    padding-inline-start: 1ch;
  }
}
