<!-- wp:group {"align":"wide","style":{"dimensions":{"minHeight":"100dvh"}},"layout":{"type":"flex","orientation":"vertical","verticalAlignment":"space-between","justifyContent":"stretch"}} -->
<div class="wp-block-group alignwide" style="min-height:100dvh"><!-- wp:group {"tagName":"main","metadata":{"name":"Main"},"style":{"dimensions":{"minHeight":"100%"}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="min-height:100%"><!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /--></div>
<!-- /wp:group -->